body{
    font-family: "Montserrat";
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {

    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3 {

    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}

/* navigation bar */

.navbar {
    
    padding-bottom: 0 0 4.5rem;

}



.navbar-brand {

    font-family: "ubantu";
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "MOntserrat-Light";
}

/* download button */

.download-button {
    margin : 5% 3% 5% 0;
}

/* title image */

.title-image {

    width: 60%;
    transform: rotate(25deg);
    right: 30%;

   

}

/* features */

#features {
    padding: 7% 15%;
    background-color:#fff;
   
   
   
}

.feature-box {

    text-align: center;
    padding: 5%;
}

/* testimonial */

#testimonials {

    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;


}



@media  (max-width: 1080px) {

}
    /* cta section */

    #cta {
        background-color: #ff4c68;
        color: #fff;
        padding: 7% 15%;
        text-align: center;
      
    }

    .cta-heading {
 
        font-family: "Montserrat-Black";
        font-size: 3.5rem;
        line-height: 1.5;

    }
/* footese section */

#footer {
    padding:7% 15% ;
    text-align: center;
    font-family: "Montserrat-Black";
 
}

.foot{

    margin: 1.5%;
    height: 2.5px;
    width: 1.5px;
}

.copy {
    margin: 3%;
}

.testimonial-image {

    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

.carousel-item {
    padding: 7% 15%;

}

#press {

    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;


}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.card-body {
    padding: 3% 2%;
}
